input[type="number"] {
  width: 3em;
}


* {
	color: black;
}

body{
	background-color: #2D9AB7;
}

#container{
	width:1600px;
	height: 900px;
}

#header{
	width: 100%;
}

.logo{
	color:#FFFFFF;
	font-size: 20px;
	font-weight: bold;
	font-style:normal;
	text-align:undefined;
	letter-spacing: 4px;
	font-family: source-sans-pro;
	margin-left: 25px;
}

.videoName{
	color:#FFFFFF;
	font-size: 25px;
	font-weight: bold;
	font-style:normal;
	letter-spacing: 4px;
	font-family: source-sans-pro;
	margin-left: 25px;
}

#left {
	margin_top:50px;
	width: 1120px;
	height: 900px;
	position:relative;
	float:left;
}

#summaryDiv{
	float: left;
	position: absolute;
	width: 986px;
	margin-left:7.5%;
	margin-top: 10px;
}

#timeDiv{
	float: left;
	position: absolute;
	margin-left:7.5%;
	margin-top: 50px;
	width:986px;
}

#detailDiv{
	margin-top: 85px;
	margin-left:7.5%;
	float:left;
	position:absolute;
	width:986px;
	height:auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	width:85%;
	height:0;
	margin-top:15px;
	margin-left:7.5%;
}
.videoWrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.inputBox{
	background-color: inherit;
	color:#FFFFFF;
	border-radius:30px;
	padding-left:10px;
	padding-right:10px;
}

#summaryInput{
	width: 833px;
	height:25.5px;
	font-size: 18px;
	border: 2px solid #FFFFFF;
}

#timeInput{
	width: 100px;
	text-align: center;
	font-size:18px;
	border: 2px solid #FFFFFF;
}

#detailInput{
	width: 833px;
	height: 200px;
	font-size:18px;
	border: 2px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
	
}

.inputBoxLabel{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bolder;
	color: #FFFFFF;
}

#timeLabel{
	margin-left: 40px;
}

#detailLabel{
	margin-left:33px;
}

#submitBtn{
	margin-left:936px;
	margin-top: 300px;
	color:#2D9AB7;
	background-color: #FFFFFF;
	border:1px;
	border-radius:30px;
	padding: 15px 30px;
	display: inline-block;
	font-weight: bold;
	font-size:18px;
}

#right {
	width: 450px;
	height: 900px;
	margin-left: 1078px;
	position:absolute;
}

.tab {
/*    overflow: hidden;*/
    border: 2px solid #FFFFFF;
	margin-top:15px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-size: 15px;
	background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
	color: #FFFFFF;
    transition: 0.3s;
	font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}


/* Style the tab content */
.tabcontent {
    padding-top: 6px;
	padding-bottom: 6px;
	height:63%;
    border: 2px solid #FFFFFF;
    border-top: none;
	color: #FFFFFF;
	font-size: 20px;
	text-align: justify;
}

.questionDiv{
	height:103px;
	width:437px;
	border-top: 2px solid #FFFFFF;
	margin-left:-1px;
	padding: 6px;
	
}

#question0Div{
	margin-top: -8px;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7A7A7;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A7A7A7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #A7A7A7;
}
