input[type="number"] {
  width: 3em;
}


* {
	color: white;
}

body{
	background-color: #2D9AB7;
	
}

#container{
	width:1550px;
	height: 900px;
}

#header{
	display: inline-block;
}

h4{
	margin-bottom: 10px;
}

.logo{
	color:#FFFFFF;
	font-size: 20px;
	font-weight: bolder;
	font-style:normal;
	text-align:undefined;
	letter-spacing: 4px;
	font-family: source-sans-pro;
	margin-left: 25px;
	width: 200px;
}

.searchTags{
	font-size: 15px;
	letter-spacing: 1px;
	
}


.videoName{
	color:#FFFFFF;
	font-size: 25px;
	font-weight: bold;
	font-style:normal;
	letter-spacing: 4px;
	font-family: source-sans-pro;
	margin-left: 25px;
}
#searchArea{
	margin-top: 5px;
}
#item{
	margin-left: 25px;
	width : 450px;
	float: left;
}

#timeTag1{
	margin-left: -100px;
	margin-top:10px;
}

p{
	margin-top: 10px;
	font-family:old-standard;
}

label{
	font-family:old-standard;
}

input{
	font-family:old-standard;
}

textarea{
	font-family:old-standard;
}

#title{
	color:white;
	font-family: source-sans-pro;
}

#left {
	margin_top:50px;
	width: 1120px;
	height: 900px;
	position:relative;
	float:left;
}

#summaryDiv{
	float: left;
	position: absolute;
	width: 986px;
	margin-left:2.4%;
	margin-top: 10px;
}

#timeDiv{
	float: left;
	position: absolute;
	margin-left:2.4%;
	margin-top: 50px;
	width:986px;
}

#detailDiv{
	margin-top: 85px;
	margin-left:2.4%;
	float:left;
	position:absolute;
	width:986px;
	height:auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	width:85%;
	height:0;
	margin-top:15px;
	margin-left:2.4%;
}
.videoWrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.inputBox{
	background-color: inherit;
	color:#FFFFFF;
	border-radius:30px;
	padding-left:10px;
	padding-right:10px;
	border: 2px solid #FFFFFF;
}

#searchBar{
	margin-left:5px;
	width: 200px;
	height:18px;
	font-size: 15px;
	border-radius:0px;
}

#searchTimeInput1{
	border-radius:0px;
	margin-left:5px;
	width: 75px;
	height:18px;
	font-size: 15px;
	text-align: center;
}

#searchTimeInput2{
	border-radius:0px;
	margin-left:5px;
	width: 75px;
	height:18px;
	font-size: 15px;
	text-align: center;
}

#summaryInput{
	width: 833px;
	height:25.5px;
	font-size: 18px;
}

#timeInput{
	width: 100px;
	text-align: center;
	font-size:18px;
	border: 2px solid #FFFFFF;
}

#detailInput{
	width: 833px;
	height: 200px;
	font-size:18px;
	border: 2px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
	
}

.inputBoxLabel{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bolder;
}

#timeLabel{
	margin-left: 40px;
}

#detailLabel{
	margin-left:33px;
}

#submitBtn{
	margin-left:875px;
	margin-top: 300px;
	color:#2D9AB7;
	background-color: #FFFFFF;
	border:1px;
	border-radius:30px;
	padding: 15px 30px;
	display: inline-block;
	font-weight: bold;
	font-size:18px;
}

#searchBtn{
	margin-left:5px;
	color:#2D9AB7;
	background-color: #FFFFFF;
	border:1px;
	border-radius:30px;
	padding: 2px 15px;
	display: inline-block;
	font-weight: bold;
	font-size:16px;
}

#right {
	width: 450px;
	height: 900px;
	margin-left: 1021px;
	position:absolute;
}

.tab {
/*    overflow: hidden;*/
    border: 2px solid #FFFFFF;
	margin-top:15px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-size: 15px;
	background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
	color: #FFFFFF;
    transition: 0.3s;
	font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}


/* Style the tab content */
.tabcontent {
    padding-top: 6px;
	padding-bottom: 6px;
	height:63%;
    border: 2px solid #FFFFFF;
    border-top: none;
	color: #FFFFFF;
	font-size: 20px;
	text-align: justify;
	overflow: hidden;
	overflow-y: scroll;
}

.questionDiv{
	height:103px;
	width:437px;
	border-top: 2px solid #FFFFFF;
	margin-left:-1px;
	padding: 6px;
}

.questions{
	color: #ffffff;
    padding-right: 20px;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.questionTimeLabel{
	color: #ddd;
	text-align: left;
	font-size: 16px;
	width: 100px;
	display:inline-block;
}

.upvotes{
	display: inline-block;
	margin-left: 53%;
	color:#2D9AB7;
	background-color: #FFFFFF;
	border:1px;
	border-radius:30px;
	padding: 2px 15px;
	font-weight: bold;
	font-size:14px;
}

.userLabel{
	color: #ddd;
	text-align: right;
	padding-right: 20px;
	font-size: 16px;
}

.upvoteLabel{
	color: #ddd;
	text-align: right;
	padding-right: 20px;
	font-size: 16px;
	margin-left: 80%;
}

.questionIdLabel{
	display: none;
	font-size: 1px;
}

#questionDiv0{
	margin-top: -8px;
}

#answerDiv{
	width: 500px;
	margin-top:17px;
}

#answerLabel{
	font-size: 25px;
	font-weight: bolder;
	margin-left: 5px;
}

#answerInput{
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 7px;
	height:200px;
	width: 426px;
    border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
	text-align: justify;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7A7A7;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A7A7A7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #A7A7A7;
}
